*{
    background-color: #5E242D;
}

title{
    color: brown;
}

h1{
    border: 1px solid black; 
    color: #ADB8E5;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
}

h2{
    color: #ADB8E5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li, p{
    color: white;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


a{
    opacity: 0.5;
    color: #ADB8E5;
}

a:hover{
    opacity: 1;
}

img{
    padding: 5px;
    opacity: 0.5;
}

img:hover{
    opacity: 1;
}
