h1{
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}

p{
    font-size: larger;
}

*{
    background-color: beige;
}

ul{
    padding-left: 100px;
}

li, p{
    color: black;
}

#green-box{
    text-align: center;
    width: 100px;
    height: 100px;
    float: right;
    padding-right: 50px;
    margin-right: 100px;
}

